*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shardstyle */

.logo{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    background-color: #407745;
}

/* mainstyle */
header{
    background-color: #ffffff;
    padding: 24px 120px;
}
nav{
    width: 78%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 auto;
}
nav .menu{
    display: flex;
    list-style-type: none;
    
}

nav .menu a{
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    color: black;
    padding-right: 32px;
}