*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shard style */

.color1{
    color: #30B868;
}
.color2{
    color: white;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: 1s;
    height: 44px;
}
.btn:hover{
    background-color: #407745;
}

/* main style */
/* header{
    background-color: #ffffff;
    padding: 24px 120px;
} */
nav{
    width: 78%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 24px 120px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    
}

nav .menu a{
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    color: black;
    padding-right: 32px;
}

/* hero section */

#banner{
        background-image: url("./assets/hero-bg.png");
        background-repeat: no-repeat;
        min-height:100vh;
        background-size: cover;
        background-position: center;
}

#banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

#banner .banner-content h2 {
    width: 229px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    color: #30B868;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6; 
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#banner .banner-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 16px;
    padding-top: 16px;
}
#banner .banner-content h6{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 32px;
    align-items: center;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: 1s;
    height: 44px;
}
.btn2:hover{
    background-color: #30B868;
}

/* card are */
#card{
    padding:  120px;
    justify-items: center;
}
#card h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}
#card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 44px;
    justify-items: center;
}

#card .card-area{
    display: flex;
    justify-content: center;
}

#card .card-content {
    width: 322px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
    background: rgba(255, 255, 255, 1);
    justify-items: center;
    padding: 24px;
    margin: 16px;
}
#card .card-content:hover{
    background-color: #30B868;
}
#card .card-content img{
    background-color: #F95555;
    border-radius: 100%;
    padding: 16px;
    height: 60px;
    
}
#card .card-content h2{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
}
#card .card-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}